*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background: rgb(29, 131, 161);
  color: #1d1e1f;
  padding: 0;
  font-size: 18px;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
